body{
  background-color: #F2E6D8;
  /* background-image: url("assets/solo.webp"); */
  background-repeat: no-repeat;
  background-position: top;
  background-position: right;
}

#wisewords {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 20px;
  margin-left: 20px;
  color: black;
}

h1 {
  color: black;
  font-family: 'Reenie Beanie', cursive;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 8px;
  line-height: 1;
  text-align: center;
  margin-top: 100px;
}

.zoom-in-out-circle {
  margin: 24px;
  width: 100px;
  height: 100px;
  background: white;
  opacity: 100%;
  border-radius: 50%;
  margin-top: 0p;
  margin-left: auto;
  margin-right: auto;
  animation: zoom-in-zoom-out 10s ease infinite;

}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

#tabs{
  display: flex;
  margin: 25vh 10vw 0 10vw;
}

#items{
  display: flex;
  margin-top: 0vh 10vw 0 10vw;
  padding-top: 80px;
  border: 1px solid #aaa;
  border-top: none;
}

.day{
  flex-grow: 1;
  width: auto;
  border: 1px solid #aaa;
  background-color: white;
}

#image, .menu{
  flex-grow: 1;
  width: auto;
  max-width: 50%
}

h2 {
  margin-top: 28px;
  padding-bottom: 0;
  font-size: 120%;
  text-align: center;
}

#Day2menu, #Day3menu, #Day4menu, #Day5menu, #Day6menu, #Day7menu{
  display: none;
}

.active{
  background-color: white;
  border-bottom; none;
}

/*
img{
  width: 20%
  max-height: 20%
  object-fit: cover;
  display: block;
  margin: auto;
} */
