div{
  background-color: #b38b6d;
}

#photos{
  display:flex;
}

.options{
  flex-grow: 1;
  width: auto;
  margin: 3vw
}

img{
  max-width: 25vw;
  height: 30vw;
  width: 25vw;
  object-fit: cover;
  margin: auto;
  /* object-position: 0px 0px 20px 0px;   */
}

button{
  float: right;
  padding: 10px 50px;
  margin-right: 3vw;
}

.blue{
  background-color: blue;
  color: white;
}
