body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='102' height='102' viewBox='0 0 100 100'%3E%3Cg stroke='%23FFEA2D' stroke-width='0' stroke-opacity='0.61'%3E%3Crect fill='%23FFEA7C' x='-60' y='-60' width='111' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

h1{
  color: white;
  font-family: Fjalla One;
  font-weight: 400;
  text-align: center;
}

/* #Header {
  width:100vw;
  height: 60vh
  overflow: hidden;
  margin: 0px;
  padding: 0px;
} */

/* #Header img {
  width: 99%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  /* position: relative; */
  /* width: 60vw;
  position: relative;
  bottom: 40px;
  right: 200px;
  height: 40vh */
  /* background-size: cover;
  background-position: center center;
  min-height: 300px;
  margin: 0px */

#MokuSurf img {
  width: 30vw;
  border: solid #053A53;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#Header h1 {
  z-index: 1;
  position:relative;
  font-size: 3vw;
  top: 0vh;
  margin: 0 0 0 0vw;
  background-color: #053A53
}

#Work {
  /* display: block; */
  color: #053A53;
  font-family: Fjalla One;
  font-weight: 200;
  background-color: #DFDCC3;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

span {
  font-size: 22px;
  font-weight: 400;
}

h3 {
  color: #053A53;
  font-family: Fjalla One;
  font-size: 20px;
  text-align: left;
}

#AboutMe {
  color: #053A53;
  font-family: Fjalla One;
  font-weight: 400;
  text-alight: left;
}

h4 {
  color: #053A53;
  font-family: Fjalla One;
  font-size: 20px;
  text-align: right;
}

#Who {
  color: #053A53;
  font-family: Fjalla One;
  font-weight: 400;
  text-align: right;
}

h5 {
  color: white;
  font-family: Fjalla One;
  font-size: 20px;
  text-align: center;
  background-color: #053A53;
  padding: 5px
}

#Goals {
  color: white;
  background-color: #053A53;
  margin-left: 20
  font-family: Fjalla One;
  text-align: center;
  padding: 5px
  /* border: solid 1px #053A53; */
}
