
h1{
  color: #053A53;
  font-family: Fjalla One;
  font-weight: 600;
  text-align: center;
}

img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: dotted 4px #FFEA2D
}
